.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.innerContainer {
  display: flex;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  height: 50%;
  overflow: scroll;
  scrollbar-width: none;
}

.innerContainer::-webkit-scrollbar {
  display: none;
}
